.about{
	padding-top:5rem;
	padding-bottom:5rem;
}
.abtp h1{
	font-size:30px;
	font-weight:600;
}
.abtp h2{
	font-size:20px;
	font-weight:700;
	margin-top:10px;
	color:#7a6960;
}
.abtp p{
	font-size:16px;
	margin-top:10px;
	line-height:1.5;
	color:#5a6570;
}
.abtp iconify-icon {
	font-size:45px;
	color:#eb5d1e;
}